<h1>Cart</h1>


<% if !@items.empty? %>
<center>
<h4> <%= "Please register or log in to checkout." unless current_user %></h4>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
  <% if item.check_for_discount(quantity) %>
  <h2>You have enough items for a <%=item.check_for_discount(quantity).percentage %>% BULK DISCOUNT on <%= item.name %></h2>
  <% end %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-image" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}" %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%>
        </p>
      </td>
      <td>
        <% if item.check_for_discount(quantity) %>
          <h2>DISCOUNT PRICE</h2>
          <p><%=number_to_currency(item.price - (item.price * (item.check_for_discount(quantity).percentage * 0.01)))%></p>
        <% else %>
          <p><%=number_to_currency(item.price)%></p>
        <% end %>
      </td>
      <td>
        <center id='qty'>
          <p><%=quantity%></p>
          <div class="qty-button">
          <div id="sub">
            <%= button_to "-", "cart/#{item.id}", method: :patch, params: {value: :sub}%>
          </div>
          <div id="add">
            <%= button_to "+", "cart/#{item.id}", method: :patch, params: {value: :add}%>
          </div>
          </div>
          <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %></p>
        </center>
        </td>
      <td>
       <% if item.check_for_discount(quantity) %>
          <h2>DISCOUNT PRICE</h2>
          <p><%=number_to_currency((cart.subtotal(item)) - (cart.subtotal(item) * (item.check_for_discount(quantity).percentage * 0.01))) %></p>
        <% else %>
        <p>h<%=number_to_currency(cart.subtotal(item))%></p>
        <% end %>
    </td>
    </tr>
  <% end %>
</table>
  <p>Total: <%= number_to_currency(cart.total) %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
  <p><%= link_to "Checkout", "profile/orders/new", method: :get if current_user%></p>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
