<h1>Add Discount</h1>

<%= form_tag "/merchant/#{@merchant.id}/discounts", method: :post do %>

    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :percentage %>
    <%= text_field_tag :percentage %>

    <%= label_tag :min_items %>
    <%= text_field_tag :min_items %>

    <%= label_tag :description %>
    <%= text_field_tag :description %>

    <%= submit_tag 'Submit' %>
  <% end %>